.on{
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    margin-right: 5px;
}

.on.on_active {
    background-color: green;
}

.off {
    display: inline-block;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    margin-right: 5px;
}

.off.off_active {
    background-color: red;
}

.switch {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: red;
}

.switch.switch_active {
    background-color: green;
}
